/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/



/* Heart SVG */

.sparks {
  opacity: 0
}

.core {
  fill: var(--heart-fill-color);
  transition: var(--heart-transition);
  transition-delay: 0.03s;
  opacity: 0
}

.main-body {
  fill: var(--heart-fill-color);
  transition: var(--heart-transition);
  transition-delay: 0;
  opacity: 0;
}

.contour {
  --heart-transition-duration: 0.1;
  transition: var(--heart-transition);
}

/* hover, active and is_liked */

.like-icon:hover .core,
.like-icon:active .core,
.like-icon.is-liked .core {
  transition-delay: 0;
  opacity: 1;
}

.like-icon:hover .main-body,
.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
  opacity: 1;
}

/* define color for active state */

.like-icon:active .core,
.like-icon:active .main-body {
  --heart-fill-color: var(--heart-main-color)
}

/* define color for is_liked state */

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  --heart-fill-color: var(--heart-main-color);
}

.like-icon.is-liked .contour {
  --heart-contour-color: var(--heart-main-color);
  --heart-transition-duration: 0.3s;
  transition-delay: 0.06s;
  opacity: 1;
}

.like-icon.is-liked {
  animation: scale 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: flash 0.3s ease-in 0.3s alternate;
}

@keyframes move {
  from {
    left: -4px;
  }

  to {
    left: 0px
  }
}

@keyframes scale {
  to {
    transform: scale(1.5);
  }
}

@keyframes flash {
  to {
    opacity: 1;
  }
}